{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<link rel="stylesheet" href="index.css">

<style>

</style>

<div class="main">
    <div class="categories">
        <div class="search"></div>
    </div>
</div>
{% endblock %}
