{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}

<link rel="stylesheet" href="css/login.css">

<div class="main">
    <div class="content">
        <div class="text">
            <h2>Apprendre de n'importe où</h2>

        </div>
        <div class="form">
            <form action="" method="post">
                <input type="text" placeholder="Nom d'utilisateur">
                <input type="password" placeholder="Mot de passe">
                <button type="submit">Se connecter</button>
            </form>
        </div>
    </div>
    <div class="illust">

    </div>
</div>

{% endblock %}
