{% extends 'base.html.twig' %}

{% block title %}Hello PodcastController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="css/podcast.css">

<div class="main">
    <div class="title">
        <h1>Podcasts</h1>
    </div>

    <div class="content">
        <div class="cover">
            <div class="coverinside">
                <div class="titrepod">
                    <p>Charles de Gaulle:<br>L'origine d'un leader</p>
                    <button><i class="fa-solid fa-circle-play"></i> Jouer l'épisode</button>
                </div>
            </div>
        </div>
        <div class="description">
            <h2>Charles de Gaulle :<br>L'origine d'un leader</h2>
            <p id="descpod">Dans cet épisode captivant de "De Gaulle : Les Racines d'un Leader",
                nous plongeons dans les premières années de la vie de Charles de Gaulle.
                Nous découvrons son enfance, son éducation et les influences qui ont
                contribué à forger sa personnalité. Nous examinons en détail sa formation
                académique et sa passion précoce pour l'Histoire, la philosophie et la
                littérature, qui ont nourri sa réflexion et sa vision du monde.</p>
            <p id="timepod">Durée: 25mn</p>
            <div id="playpod">
                <button id="play" onclick="clickPlay()"><i class="fa-solid fa-circle-play"></i> Jouer l'épisode</button>
                <a href="audio/podcast_1.mp3" download="podcast_1.mp3"><button><i class="fa-solid fa-download"></i> Télécharger l'épisode</button></a>
            </div>
        </div>
    </div>

    <div class="player">
        <div class="audio-player">
            <div id="play-btn"><i id="play-icon" class="fa-solid fa-circle-play"></i></div>
            <div class="audio-wrapper" id="player-container" href="javascript:;">
              <audio id="player" ontimeupdate="initProgressBar()">
                      <source src="audio/podcast_1.mp3" type="audio/mp3">
                    </audio>
            </div>
            <div class="player-controls scrubber">
              <p>Charles de Gaulle: L'origine d'un lea...</p>
              <span id="seekObjContainer">
                      <progress id="seekObj" value="0" max="1"></progress>
                    </span>
              <br>
              <small style="float: left; position: relative; left: 15px;" class="start-time"></small>
              <small style="float: right; position: relative; right: 20px;" class="end-time"></small>
        
            </div>
            <div class="album-image" style="background-image: url('img/degaulle_1.png')"></div>
          </div>
    </div>
  
</div>
<script src="js/player.js"></script>
{% endblock %}
